[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"
boto3 = "*"
django-storages = "*"
gdal = "*"

[requires]
python_version = "3.7"
