.navbar{
    width: 100%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.intro_title{
    background-image: url("william-iven-17136-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50vh;
    color: white;
    text-align: center;
}

a{
    text-decoration: none !important;
    color: royalblue;
}

a:hover{
    color: blue;
}

li{
    list-style: none;
}

.fGZQDc{
    text-align: center;
}

html{
    position: relative;
}

footer{
    text-align: center;
    background-color: lightgrey;
    float: bottom;
}

.mt-3{
    padding-top: 10% !important;
}

.card{
    border: black 1px solid;
}

.card-img-top{
    border-bottom: black solid 1px
}
